<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
<%= gravatar_for @user %>

        
<%= @user.name %>

<% if current_user.id != @user.id %>
</br>
<button class="btn btn-default"><%= link_to "Show following user", followings_user_path(@user) %></button>
</br>
</br>
<button class="btn btn-default"><%= link_to "Show followers",  followers_user_path(@user) %></button>
<% else %>

<button class="btn btn-default"><%= link_to "Show your following user", followings_user_path %></button>
</br>
</br>
<button class="btn btn-default"><%= link_to "Show your followers",  followers_user_path %></button>
<% end %>
</br>
フォロー数: <%= @user.following_users.count %>
</br>
フォロワー数: <%= @user.follower_users.count %>



      </h1>
    </section>
  </aside>
  <br>
  
  
  <div class="col-md-8">
    
<%= render 'follow_form' if logged_in? %>

    
<% if @user.microposts.any? %>

      <h3>Microposts (
<%= @user.microposts.count %>
)</h3>
      <ol class="microposts">
        
        <%= render @microposts %>

      </ol>

<% end %>

<br>




  </div>
</div>